.control_buttons_careers {
	position: relative;
	padding: 30px 13% 80px;
}
.page_buttons_wrapper {
	display: flex;
	justify-content: space-between;
}
.page_button {
	width: 30%;
}
.page_button img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.page_button:hover {
	opacity: 0.7;
	transition-duration: 0.8s;
}
.buttons_careers {
	display: flex;
	justify-content: space-around;
	width: 100%;
}
.career_wrapper {
	padding: 0;
	margin-bottom: 40px;
}
.career_title {
    height: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.career_title img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.career_image {
	width: 100%;
}
.career_image img, .career_image_sales img {
	width: 100%;
	height: 100%;
}
.career_image_sales {
	width: 70%;
    margin: 0 auto;
}
.career_timeline {
	width: 100%;
	margin: 28px auto;
}

.timeline-list,
.non_timeline-list {
    padding: 40px 0;
}

.timeline-list-item,
.non_timeline-list-item {
    display: flex;
    line-height: 1.5;
    font-size: 16px;
    position: relative;
	flex-direction: column;
}

.timeline-list-item .headline,
.non_timeline-list-item .headline{
    width: 20%;
    padding: 0 0 0 24px;
    color: #888888;
    font-weight: bold;
	white-space: nowrap;
}
.timeline-list-item:not(:last-child) .headline {
    /*border-left: 4px solid #ddd;*/
	padding: 0 0 0 20px;
}
.timeline-list-item:not(:last-child) .detail {
	 border-left: 4px solid #ddd;
}
.timeline-list-item .detail,
.non_timeline-list-item .detail {
    position: relative;
    padding: 1.8em 0 50px 30px;
	font-weight: 200;
	line-height: 2;
}
.timeline-list-item .detail ul,
.non_timeline-list-item .detail ul {
	list-style-type: none;
	position: relative;
}
.timeline-list-item .detail ul li::before,
.non_timeline-list-item .detail ul li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.timeline-list-item .detail ul li,
.non_timeline-list-item .detail ul li {
	margin-bottom: 15px;
	position: relative;
}
.timeline-list-item:nth-child(1) .headline::before,
.timeline-list-item:nth-child(1) .detail ul li:before {
    background-color: #64A49C;
}
.timeline-list-item:nth-child(2) .headline::before,
.timeline-list-item:nth-child(2) .detail ul li::before {
    background-color: #64AC64;
}
.timeline-list-item:nth-child(3) .headline::before,
.timeline-list-item:nth-child(3) .detail ul li::before {
    background-color: #EBBD24;
}
.timeline-list-item:nth-child(4) .headline::before,
.timeline-list-item:nth-child(4) .detail ul li::before {
    background-color: #E2B6C0;
}
.non_timeline-list-item:nth-child(1) .headline::before,
.non_timeline-list-item:nth-child(1) .detail ul li:before {
    background-color: #E2B6C0;
}

.non_timeline-list-item:nth-child(2) .headline::before,
.non_timeline-list-item:nth-child(2) .detail ul li:before {
    background-color: #F0DC99;
}

.non_timeline-list-item:nth-child(3) .headline::before,
.non_timeline-list-item:nth-child(3) .detail ul li:before {
    background-color: #EFEF1D;
}

.non_timeline-list-item:nth-child(4) .headline::before,
.non_timeline-list-item:nth-child(4) .detail ul li:before {
    background-color: #C1C5ED;
}
.non_timeline-list-item:nth-child(5) .headline::before,
.non_timeline-list-item:nth-child(5) .detail ul li:before {
    background-color: #64A49C;
}
.non_timeline-list-item:nth-child(6) .headline::before,
.non_timeline-list-item:nth-child(6) .detail ul li:before {
    background-color: #64AC64;
}
.timeline-list-item .headline::before,
.non_timeline-list-item .headline::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.future_page_wrapper {
	padding: 50px 18% 0;
}
.assessment_program {
}
.assessment_program_title_img_wrapper {
	height: 30px;
	text-align: center;
}
.assessment_program_title_img_wrapper img {}

.assessment_program_contents_wrapper {
	background-color: #fff;
    margin-bottom: 60px;
    margin-top: 40px;
    padding: 4% 8% 6%;
    border-radius: 25px;
    position: relative;
}
.assessment_program_contents_wrapper::before {
	content: "";
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -15px;
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
}
.assessment_program_contents_wrapper ul {
	padding-inline-start: 0px!important;
}
.assessment_headline {
	color: #64ac64;
	font-size: 20px;
	list-style: none;
	margin-bottom: 10px;
	margin-left: 40px;
    position: relative;
}
.assessment_headline::before,
.assessment_headline::after {
	content: "";
	border-style: solid;
	border-width: 20px 0 0px 20px;
    border-color: transparent transparent transparent #64ac64;
    margin-left: -36px;
    position: absolute;
	left: 0;
}
.assessment_headline::before {
	transform: rotate(-21deg);
    top: 2px;
}
.assessment_headline::after {
	transform: rotate(112deg);
    top: 13px;
}
.assessment_detail {
	font-weight: 200;
	line-height: 2;
	list-style: none;
	margin-bottom: 65px;
}
.program_relative_wrapper {
	position: relative;
	width: 40%;
	padding: 0 5%;
}
.program_relative_image_wrapper {
	position: relative;
	width: 60%;
}
.other_programs {}
.other_program_wrapper {
	background-color: #fff;
	display: flex;
	position: relative;
	margin-bottom: 60px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
.other_program_contents_wrapper {
	position: relative;
	padding-right: 10%;
}
.odd_contents {
	flex-direction: row;
    padding: 5% 5% 5% 0%;
}

.even_contents {
	flex-direction: row-reverse;
    padding: 5% 0% 5% 5%;
}
.other_program_title {
	height: 30px;
	text-align: center;
    margin-bottom: 30px;
}
.other_program_title img {}
.other_program_detail {
	font-weight: 200;
	line-height: 2;
}
.other_program_images {
	display: flex;
	gap: 10px 0;
}
.odd_image {
    flex-direction: column;
}
.even_image {
    flex-direction: column-reverse;
}
.program_image_big {}
.program_image_big img {}
.program_images_small {
	display: flex;
	gap: 0 10px;
}
.program_images_small img {}

.assessment_program_title_img_wrapper img,
.other_program_title img,
.program_image_big img,
.program_images_small img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 25px;
    -webkit-border-radius: 25px;
}
.normal_button {
	background-color: #64AC64;
	padding: 25px 25px;
    margin: 20px auto 50px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	width: 200px;
	text-align: center;
	cursor: pointer;
}
.normal_button:hover {
	background-color: #64A49C;
}
.normal_button_style{
	text-decoration: none;	
}
@media screen and (max-width: 1200px) {
	.odd_contents {
		flex-direction: column-reverse;
		padding: 5%;
	}

	.even_contents {
		flex-direction: column-reverse;
		padding: 5%;
	}
	.program_relative_image_wrapper {
		position: relative;
		width: 100%;
	}
	.program_relative_wrapper {
		position: relative;
		width: 100%;
		padding: 25px 0 15px;
	}
	.other_program_contents_wrapper {
		position: relative;
		padding-right: 0;
	}
}
@media screen and (max-width: 767px) {
	.buttons_careers {
		display: flex;
		justify-content: unset;
		width: 100%;
		flex-direction: column;
	}
	.timeline-list-item:not(:last-child) .headline {
		border-left: 0 solid #ddd;
		padding: 0 0 0 20px;
	}
	.timeline-list-item .detail {
		position: relative;
		padding: 20px 0 50px 30px;
	}
	.timeline-list-item:not(:last-child) .detail,
	.timeline-list-item:not(:last-child) .headline {
		border-left: 4px solid #ddd;
	}
	.non_timeline-list-item .detail {
		position: relative;
		padding: 20px 0 50px 30px;
	}
	.timeline-list-item, .non_timeline-list-item {
		display: flex;
		line-height: 1.5;
		font-size: 16px;
		position: relative;
		flex-direction: column;
	}
	.timeline-list-item .headline, .non_timeline-list-item .headline {
		width: 100%;
		padding: 0 0 0 24px;
		color: #888888;
		font-weight: bold;
		white-space: unset;
	}
	.career_title {
		height: 30px;
		margin-bottom: 30px;
		text-align: center;
	}
	.page_button {
		width: 80%;
		margin: 0 auto;
	}
	.future_page_wrapper {
		padding: 50px 5% 0;
	}
}