h2 {
    font-size: 32px;
    font-weight: 500;
    margin-block-start: 0.25em;
}
h3 {
	font-size: 28px;
	font-weight: 500;
}
h4 {
	font-size: 22px;
	font-weight: bold;
	background-color: #64ac64;
	color: #fff;
	padding: 15px 20px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	position: relative;
}
h4::before {
	content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    border: 10px solid transparent;
    border-right: 28px solid #64ac64;
    transform: translateY(-50%);
}
blockquote {
	font-size: 16px;
	font-weight: 200;
	background-color: #fff;
	padding: 15px 20px 30px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	position: relative;
}

blockquote::before {
	content: "";
	position: absolute;
	top: 38%;
    right: -30px;
    margin-top: -15px;
    border: 10px solid transparent;
    border-left: 28px solid #fff;
}
em {
	font-style: normal;
	color: #64ac64;
	font-size: 20px;
}

.page-numbers {
	text-decoration: none;
	color: #707070;
	padding: 10px 16px;
	border: 1px solid #CECECE;
	background-color: #fff;
}
.page-numbers.current {
	text-decoration: none;
	color: #fff;
	padding: 10px 16px;
	border: 1px solid #CECECE;
	background-color: #64ac64;
}

.page-numbers.last, 
.page-numbers.first {
	width: 2%;
    display: inline-block;
    position: relative;
	cursor: pointer;
}
.page-numbers.next img,
.page-numbers.prev img,
.page-numbers.last img, 
.page-numbers.first img {
	width: 100%;
    object-fit: contain;
    height: 100%;
}
.page-numbers.next,
.page-numbers.prev{
	width: 1%;
    display: inline-block;
    position: relative;
}
.pagination_wrapper {
	padding: 0 0% 60px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.interview_wrapper {
	width: 100%;
	position: relative;
	padding-bottom: 80px;
}
.interview_contents {
	width: 70%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.interview_backto_list {
	padding: 80px 20% 120px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
    gap: 0 30px;
}
.interview_backto_list a:hover {
	opacity: 0.7;
	transition-duration: 0.8s;
}
.interview_backto_list img {
	object-fit: contain;
	width: 200px;
}
.interview_profile {
	width: 70%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	margin-bottom: 60px;
}
.interview_profile_photo {
	width: 50%;
	position: relative;
}
.interview_profile_photo::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.interview_profile_photo img {
	/*width: 100%;
	object-fit: contain;*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	object-fit: cover;
}
.interview_profile_contents {
	width: 50%;
	padding-top: 60px;
	padding-left: 60px;
}
.interview_profile_contents table {
	border-collapse: collapse;
	width: 100%;
}

.interview_profile_contents th {
	text-align: left;
    border-bottom: 1px solid #989898;
    padding: 15px 0;
    width: 30%;
    white-space: nowrap;
}
.interview_profile_contents td {
	border-bottom: 1px solid #989898;
	padding: 15px 0;
}
.profile_headline {
    font-size: 28px;
    margin-bottom: 10px;
}
.control_buttons_interview {
	position: relative;
	padding: 30px 15% 80px;
}
.page_buttons_wrapper {
	display: flex;
	justify-content: space-between;
}
.buttons_interview {
	display: flex;
	justify-content: space-around;
	width: 100%;
	gap: 0 20px;
}
.page_button {
}
.page_button img {
	width: 100%;
	height: 60px;
	object-fit: contain;
	cursor: pointer;
}
.page_button:hover img {
	opacity: 0.7;
	transition-duration: 0.8s;
}
.interviews {
	padding-bottom: 120px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 50px 0;
}
.interviewee {
	text-align: center;
	text-decoration: none;
	color: #1a1a1a;
	width: 30%;
}
.interviewee_wrapper {
	background-color: #fff;
    padding: 15px;
	box-shadow: 0 0 12px #989898;
}
.interviewee_photo {
	width: 100%;
    margin: 0 auto;
	position: relative;
}
.interviewee_photo::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.interviewee_photo img {
	/*width: 100%;
	object-fit: contain;*/
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	object-fit: cover;
}
.interviewee_title {
	font-size: 15px;
	margin-top: 10px;
}
.interviewee_name {
	font-size: 30px;
}
.get_to_know_wrapper {
	width: 100%;
	position: relative;
	padding-bottom: 80px;
}
.know_with_number,.know_with_photo {
	padding-bottom: 80px;
}
.know_with_head {
	position: relative;
}
.title {
	height: 30px;
	position: relative;
}
.title img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.book {
	height: 75px;
    top: 50%;
    position: absolute;
    right: 24%;
    transform: translateY(-50%);
}
.book img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.contents {
	width: 70%;
	margin: 35px auto;
}
.qa_wrapper {
	margin-bottom: 40px;
}
.question {
	color: #fff;
	background: #64a49c;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	-webkit-border-top-left-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	padding: 10px 30px 10px 30px;
    font-size: 18px;
	display: flex;
	flex-direction: row;
}
.answer {
	background: #fff;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	padding: 10px 30px 10px 30px;
    font-size: 18px;
	display: flex;
	flex-direction: row;
}
.question .head {
	font-size: 26px;
	font-weight: bold;
	margin-right: 20px;
	width: 21px;
}
.answer .head {
	font-size: 26px;
	font-weight: bold;
	margin-right: 20px;
	color: #64a49c;
	width: 21px;
}
.gallery_wrapper {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0 auto;
}
.gallery_contents {
	width: 31%;
}
.gallery_title {
	background: #fff;
	padding: 10px;
}
.gallery_thumb {
	width: 100%;
    height: 200px;
}
.gallery_thumb img, .gallery_thumb video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hide_for_read_more {
	display: none;
}
.read_more {
    width: 120px;
    text-align: center;
    /* text-decoration: underline; */
    cursor: pointer;
    font-size: 18px;
    background-color: #fff;
    margin: 0 0 0 auto;
    padding: 10px 20px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    border: 4px solid #64ac64;
    position: relative;
    right: 20px;
	margin-top: 30px;
}
.read_more:hover {
	opacity: 0.7;
	transition-duration: 0.8s;
}
.gallery-list {
	text-decoration: none;
	color: #000;
}
.hide_area {
	display: none;
}
.modal_image {
	width: 80%;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.modal_image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.modaal-fullscreen .modaal-content-container{
	background: #333;
	color: #fff;
	text-align: center;
}
.modaal-fullscreen .modaal-close {
    background: none!important;
    right: 20px!important;
}
.modaal-close:focus:after, 
.modaal-close:focus:before, 
.modaal-close:hover:after, 
.modaal-close:hover:before {
    background: #666!important;
}
.pageWrapper {
	min-height: 100vh;
}
#overlay{ 
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	width: 100vw;
	height: 100vh;
	display: none;
	background: rgba(0,0,0,0.6);
	z-index: 10000000;
}
.cv-spinner {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;  
}
.spinner {
	width: 40px;
	height: 40px;
	border: 4px #ddd solid;
	border-top: 4px #2e93e6 solid;
	border-radius: 50%;
	animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
	100% { 
		transform: rotate(360deg); 
	}
}
.is-hide{
	display:none;
}
@media screen and (max-width: 1024px) {
	.interview_profile,
	.interview_contents {
		width: 90%;
	}
	.pageContentsWrapper {
		padding: 0 10%;
	}
	.control_buttons_interview {
		padding: 30px 10% 80px;
	}
	.buttons_interview {
		gap: 0 5px;
	}
	.contents {
		width: 80%;
		margin: 35px auto;
	}
	.breadcrumb {
		font-size: 15px;
		font-weight: 100;
		padding: 15px 5%;
	}
}
@media screen and (min-width: 600px) and (max-width: 767px) {
	.interviewee {
		text-align: center;
		text-decoration: none;
		color: #1a1a1a;
		width: 40%;
	}
}

@media screen and (max-width: 599px) {
	.interviewee {
		text-align: center;
		text-decoration: none;
		color: #1a1a1a;
		width: 100%;
	}
}
@media screen and (min-width: 642px) and (max-width: 767px) {
	.gallery_contents {
		width: 48%;
	}
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.interviewee_name {
		font-size: 25px;
	}
}
@media screen and (max-width: 641px) {
	.gallery_contents {
		width: 100%;
	}
}
@media screen and (max-width: 767px) {
	h2 {
		font-size: 25px;
		font-weight: 500;
		margin-block-start: 0.25em;
	}
	h3 {
		font-size: 25px;
		font-weight: 500;
	}
	h4 {
		font-size: 16px;
		font-weight: bold;
		background-color: #64ac64;
		color: #fff;
		padding: 15px 20px;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		position: relative;
	}
	em {
		font-style: normal;
		color: #64ac64;
		font-size: 18px;
	}
	.interview_profile {
		flex-direction: column;
	}
	.interview_profile_photo {
		width: 100%;
		position: relative;
	}
	.interview_profile_contents {
		width: 100%;
		padding-top: 60px;
		padding-left: 0;
	}
	.buttons_interview {
		flex-direction: column;
	}
	.book {
		height: 55px;
		top: 50%;
		position: absolute;
		right: 5%;
		transform: translateY(-50%);
	}
	.interview_backto_list {
		padding: 80px 20% 120px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		gap: 15px 30px;
		flex-direction: column;
	}
}